In [1]:
# The code was removed by DSX for sharing.

In [2]:
import pandas as pd
import numpy as np

In [8]:
random_data = pd.DataFrame(np.random.random((1000,4)),columns = ['a','b','c','d'])
random_data.head()

          a         b         c         d
0  0.370332  0.862227  0.856995  0.821802
1  0.208014  0.659936  0.147316  0.595018
2  0.084962  0.872089  0.124575  0.979851
3  0.980699  0.220567  0.592497  0.550980
4  0.472739  0.004235  0.114902  0.197167